<main>
  <div class="fixed-bg bg-1">
    <h1 class="main-text0">中級者(中国語検定2級程度)対象</h1>
    <h2 class="main-text1">中国語文法・語法</h2>
    <h3 class="main-text2">下へスクロールしてください</h3>
  </div>

  <div class="fixed-bg bg-3">
  <div class="function-link">  
  <%= link_to '問題を解いてみる', new_score_path, method: :get, class: "favorite-btn1" %>
  <%= link_to '全体のランキングを見る', all_scores_path, method: :get, class: "favorite-btn3" %>
  <%= link_to '自分のランキングを見る', myscore_scores_path, method: :get, class: "favorite-btn3" %>
  <%= link_to 'カテゴリーごとに文法を見る',  sentences_path, method: :get, class: "favorite-btn3" %>
  <%= link_to '他の学習者と交流する', posts_path, method: :get, class: "favorite-btn2" %>

  </div>
  
  </div>
</main>