<div class="communication">
  <%= form_with model: @post do |f| %>
  <%= f.text_field :content, class: "box"%>
  <%= f.submit '投稿する' , id: "submit", class: "submit"%>
<% end %>

   <div id="posts">
   </div>

<div id='posts'>
  <% @posts.reverse_each do |post| %>
  <div class="post">
    <div class="post-date">
      投稿日時：<%= l post.created_at %>
    </div>
    <div class="post-content">
      <p><%= post.content %></p>
    </div>
  </div>  
  <% end %>
</div>
</div>




